@charset "utf-8";

body {
    font-family: "San Francisco", Sans-Serif;
}

.backgrounditem{
    height: 100vh;
    float: left;
}

/* 左：メニュー */
#menuzone{
    width: 20%;
    border-right: solid 2px #eff3f4;
    box-sizing: border-box;
    text-align: left;
    padding-left:5%;
}
.tablecontent{
    float:left;
    width:100%;
    display:flex;
}

.menu-icon{
    width:20px;
    height:20px;
    margin: 16px 5px 16px 16px;
}
.menu-title{
    width:50%;
    margin: 16px;
}

/* 中央：タイムライン */
#postzone{
    width: 50%;
}

#timelinetitle{
    margin: 10px;
}

#post{
    width: 100%;
    height: 26vh;
    border-top: solid 2px #eff3f4;
    border-bottom: solid 2px #eff3f4;
}

#user-icon {
    position : relative;
    max-width: 100px; /* 最大幅を設定（必要に応じて調整） */
    max-height: 100px; /* 最大高さを設定（必要に応じて調整） */
    width: 10vw;
    height: 10vw;
    top: -25px;
    left: 10px;
    border-radius: 50%; /* 写真を丸く表示する場合、必要に応じて調整 */
}

#postinput{
    border: none;
    outline: none;
    resize: none;
    margin-left: 20px;
    margin-top: 2vw;
    width: 30vw;
    height: 100px;
    font-size: 18pt;
}

#post-icon{
    display: flex;
    align-items: center;
    padding-left:130px;
    height: 45px;
    width: calc(100% - 265px);
    float: left;
}

.posticon{
    float: left;
    width: 20px;
    height: 20px;
    margin-right:7vw;
}

#button{
    padding-right: 10px;
    text-align: right;
    width: 125px;
    float: left;
}

#postbutton{
    background-color: #009eed;
    color: #ffffff;
    padding: 10px 15px;
    margin-right: 1vw;
    font-size: 15pt;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    height: 45px;
}

.userpost{
    width:100%;
    height:15vh;
    display:flex;
    border-bottom: solid 2px #eff3f4;
    display:flex;
    flex-flow: column;
}

.postuser
{
    width:100%;
    float: left;
    display: flex;
}


.post-user-icon{
    position : relative;
    max-width: 50px; /* 最大幅を設定（必要に応じて調整） */
    max-height: 50px; /* 最大高さを設定（必要に応じて調整） */
    width: 10vw;
    height: 10vw;
    top: 10px;
    left: 10px;
    border-radius: 50%; /* 写真を丸く表示する場合、必要に応じて調整 */
}


.post-user-text{
    padding: 0 20px;
    width:100%;

}

#user-post-icon{
    display: flex;
    align-items: center;
    padding-left:70px;
    height: 45px;
    float: left;
}

.userposticon{
    float: left;
    width: 15px;
    height: 15px;
    margin-right:10vw;
}


/* 右：トレンド欄 */
#trendzone{
    width: 30%;
    border-left: solid 2px #eff3f4;
    box-sizing: border-box;
    padding-right:5%;
}

#trendtitle{
    margin: 10px 0;
}

#trendlist{
    width: 80%;
    text-align: left;
    background-color: #f7f9f9;
    padding: 10px;
    margin: 0 auto;
    text-align: left;
    border-radius: 10%;
}

#trends div p, h4{
    margin :0;
}

.trend{
    padding: 10px 5px;
    margin: 36px 0 36px 0;
}

/* アラート用 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 20vh;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.85); /* 半透明の黒色背景 */
}

.overlay_message{
    float: left; /* 右寄せにする */
    width: 60%; /* 幅を60%に設定 */
}

#alert {
    text-align: left;
    padding-left: 5%;
    color: #d23347;
    font-size: 36px;
    width:50%;
    height:30vh;
}

#advice {
    text-align: left;
    padding-left: 5%;
    color: #cccccc;
    width:50%;
    top: 30vh;
}

.narration{
    font-size: 18px;
}

#recommend{
    font-size: 24px;
}

#advice p {
    margin:0;
}

.ikemen {
    float: right; /* 右寄せにする */
    width: 40%; /* 幅を40%に設定 */
    padding-right: 5%;
}

.postbutton {
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 9999px;
    padding: 10px;
}

#undobutton {
    color: #000;
    background-color: rgba(256, 256, 256);
}

#alertpostbutton{
    color: #fff;
    background-color: #009eed;
}

#voice{
    z-index: 1;
    height: 47px;
}
