<!DOCTYPE html>
<html>
<head>
    <meta charset=”utf-8″>
    <title>SNS投稿</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>
<body>
    <div id="menuzone" class="backgrounditem">
        <div class="tablecontent">
            <img id="home-icon" class="menu-icon" src="static/icon/home.png" alt="homeicon">
            <p class="menu-title">ホーム</p>
        </div>
        <div class="tablecontent">
            <img id="search-icon" class="menu-icon" src="static/icon/search.png" alt="searchicon">
            <p class="menu-title">話題を検索</p>
        </div>
        <div class="tablecontent">
            <img id="bell-icon" class="menu-icon" src="static/icon/bell.png" alt="bellicon">
            <p class="menu-title">通知</p>
        </div>
    </div>
    <div id="postzone" class="backgrounditem">
        <h2 id="timelinetitle">ホーム</h2>
        <div id="post">
            <form action="/check" method="POST">
                <!-- ユーザーアイコン -->
                <img id="user-icon" src="static/icon/useicon.JPG" alt="ユーザーアイコン">

                <!-- 投稿内容 -->
                <textarea id="postinput" name="post_content" rows="4" cols="50" placeholder="投稿内容を入力してください"></textarea>
                <div id="button">
                    <!-- 送信ボタン -->
                    <input id="postbutton" type="submit" value="ポスト">
                </div>
            </form>
        </div>
        <div id="timeline">
            {% if isCompleted == True  %}

            {% endif %}

        </div>
    </div>

    <div id="trendzone" class="backgrounditem">
        <div id="trendlist">
            <h2 id="trendtitle">今どうしてる？</h2>
            <div id="trends">
                <div class="trend">
                    <p>エンターテインメントのトレンド</p>
                    <h3>東京ゲームショウ2023</h3>
                    <p>3,150posts</p>
                </div>
                <div class="trend">
                    <p>テクノロジーのトレンド</p>
                    <h3>Softbank Tech Night Hackathon</h3>
                    <p>3,150posts</p>
                </div>
                <div class="trend">
                    <p>テクノロジーのトレンド</p>
                    <h3>Softbank Tech Night Hackathon</h3>
                    <p>3,150posts</p>
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#postbutton").click(function () {
            console.log("click")
            $.ajax({
                url: "/check",
                type: "POST",
                data: { key: "value" },
                success: function (data) {
                    // バックエンドからの応答を処理するコード
                    console.log(data)
                    if (data) {
                        // 返り値がTrueの場合、半透明の背景を表示
                        document.getElementById('overlay').style.display = 'block';

                    } else {
                        // 返り値がFalseの場合、半透明の背景を非表示
                        document.getElementById('overlay').style.display = 'none';
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Request error: " + error);
                },
            });
        });
    });
</script>


